#top{
  background-color: #000000;
  padding: 10px;

}
#contact {
    height: auto;
    width: 100%;
    padding: 50px;
    color: white;
    background-color: #000;
  }
  
  .contact-details {
    list-style: none;
    margin: 0;
    padding: 10px;
  }
  
  .contact-details li {
    padding-bottom: 10px;
  }
  
  #contact input, #contact textarea {
    width: 100%;
    margin-bottom: 5px;
  }
  
  #contact textarea {
    min-height: 160px;
  }

  #profiles{
    padding: 10px;
    background-color: #000000;
  }
  #profiles a{
    padding: 10px;
    color: white;
    text-decoration: transparent;
  }
  footer{
    padding: 10px;
  }
  